.containerHeaderCard{
    padding:0px;
    border-radius: 15px 15px 0px 0px;
    background-color: #003049;
    box-shadow: 5px 5px 5px rgb(75, 75, 75)
}
.containerHeaderFontCard{
    color:white;
    align-items: center;
}
.containerHeaderFontDiv{
    line-height: 75px;
    text-align: center;
    font-size: 300%;
}
.containerHeaderFontSpan{
    font-family: 'Noto Sans TC', sans-serif;
}
.containerBodyCardOutside{
    background-color:#F0F0F0;
    padding:50px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 5px rgb(75, 75, 75);
}
.containerBodyCard{
    margin-bottom: 25px;
}
.containerBodyCardDiv{
	text-align : center;
	padding: auto;
}
.containerBodyCardLabelFont{
	text-align : center;
    font-family: 'Noto Sans TC', sans-serif;	
    margin-top: 8px;
}